SUPABASE_URL=your_supabase_url
SUPABASE_ANON_KEY=your_supabase_anon_key
PSQL_HOST=localhost
PSQL_USER=postgres
PSQL_PASS=postgres
PSQL_DB_NAME=dbm_nca_ph
PSQL_TEST_DB_NAME=dbm_nca_ph_test
PIPELINE_API_KEY=your_secret_key
